* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Geistlight";
    src:
      local("Geistlight"),
      url("../fonts/Geist-Light.otf") format("opentype"),
}
  
@font-face {
    font-family: "Geistbold";
    src:
      local("Geistbold"),
      url("../fonts/Geist-Bold.otf") format("opentype"),
}
  
    body{
        background-color:#1E1E1E;
}

.image-component{ 
    display: flex;
    padding: 25px;
    width: 100px;
    margin: 10px;
}

.feature-bell {
    width: 80px;
    border: 2px solid #1C3023;
    border-radius: 18px;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px #0CF25D;
    padding: 15px;
    
}

    .feature-arrow {
    margin: 25px;
    width: 30px;
    border: 1px solid #1C3023;
    border-radius: 10px;
    padding: 5px;
}

.inner-glow {
    border-radius: 50%;
    height:attr(height);
    left:attr(left);
    position:absolute;
    top:attr(top);
    width:attr(width);
    }


.feature-component {
    background: linear-gradient(319deg, rgba(3,11,6,1) 0%, rgba(17,22,19,1) 35%);
    /*-webkit-background-clip: container;
    -webkit-text-fill-color: transparent;*/
    width: 300px;
    border: 2px solid #1C3023;
    border-radius: 16px;
    padding: px;
    margin: 20px;

}
.text-box { 
    margin: 8px;
}
.feature-title {
    background: linear-gradient(0deg, rgba(192,228,205,1) 0%, rgba(216,254,229,1) 35%);
    font-family: "Geistbold";
    font-size: 35;
    width: 192px;
    margin-left: 25px;
    margin-top: 80px;
    padding: px;
    text-align: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-description{
    background: #7EA18A;
    font-family: "Geistlight";
    font-size: 16;
    width: 277px;
    padding: 25px;
    text-align: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

